/* Top Navigation Bar */
.main-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    font: 1.2em sans-serif;

    display: flex;
}

.main-nav  {
    padding: 0.5em 1em;
    display: block;
}

.push {
    margin-left: auto;
}